# ===== Gradle / Java =====
.gradle/
build/
out/
bin/

# ===== IntelliJ IDEA =====
.idea/
*.iws
*.iml
*.ipr

# ===== Python =====
__pycache__/
*.pyc
.venv/

# ===== VS Code =====
.vscode/

# ===== NetBeans / Eclipse =====
.project
.classpath
.settings/
.sts4-cache/
